body {
    background-color: ivory;
    background-image: linear-gradient(90deg, transparent 79px, red 79px, red 81px, transparent 81px), 
                      linear-gradient(#130e0e 1px, transparent 1px);
    background-size: 100% 30px;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize
}
/* This is the code for the LandingPage for the application NoteFlow */
main {
    text-align: center;
    padding: 70px;
    background-color: greenyellow;
    border-radius: 60% 40% 30% 70% / 40% 30% 70% 60%;
    box-shadow: 10px 10px 0px rgb(96, 94, 94);
}


.app-logo {
    margin-top: -10px;
    font-style: oblique;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

main p {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: black;
}

main p:hover {
    color: red
}

#login-btn {
    box-shadow:0px 4px 4px black;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 16px;
    border: 4px solid white;
    border-radius: 50px
}

#register-btn {
    box-shadow: 0px 4px 4px black;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 16px;
    border: 4px solid black;
    border-radius: 50px;
}

#login-btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

#register-btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

/*this section is for the login and register forms */
#login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*this makes sure that the login form is centered on the screen*/
    display: none;/*this makes sure that the login form does not display on the main unless the logic calls for it*/
    background-color: white;
    border: 4px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#register-form {
    display: none;/*this makes sure that the registration form does not display on the main unless the logic calls for it*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*this makes sure that the login form is centered on the screen*/
    background-color: white;
    border: 4px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/*this section is for the Modal/ the Dimmer switch */
#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;
}